@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


table {
    width: 100%;
}

.page-title-header {
    background-color: rgba(0, 0, 0, 0.068);

    h4 {
        margin: 0;
    }
}

mat-form-field .mat-form-field-outline-start {
    background-color: white !important;
}

mat-form-field .mat-form-field-outline-gap {
    background-color: white !important;
}

mat-form-field .mat-form-field-outline-end {
    background-color: white !important;
}

td mat-form-field .mat-form-field-wrapper,
.filter-menu mat-form-field .mat-form-field-wrapper {
    margin: 0 !important;
    padding-bottom: 0 !important;
}



::ng-deep td mat-form-field .mat-form-field-wrapper,
::ng-deep .filter-menu mat-form-field .mat-form-field-wrapper {
    margin: 0 !important;
    padding-bottom: 0 !important;
}


.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}